.container {
  font-family: Arial, Helvetica, sans-serif;
}
.weather-app-wrapper {
  max-width: 900px;
  margin: 60px auto;
}
.weather-app {
  padding: 40px;
  border: 2px #272142;
  border-radius: 16px;
  background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: repeat-y;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.form-control {
  margin-left: 120px;
  max-width: 400px;
  background: transparent;
  background-color: transparent;
  border-style: none none solid none;
  border-color: #a250e5;
  border-width: 1px;
}
.btn-primary {
  background-color: #a250e5;
  border-color: #a250e5;
  border-radius: 6px 6px 6px 6px;
}
.btn-primary:hover {
  color: #33184f;
  background-color: transparent;
  border-color: #a250e5;
}

h1 {
  color: #33184f;
  font-size: 42px;
  font-weight: 700;
  line-height: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #33184f;
}
li:first-letter {
  text-transform: capitalize;
}
.conditions-style {
  color: #070fb2;
  font-weight: 600;
}
.description-style {
  color: #070fb2;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}

.temperature-container img {
  height: 100px;
  width: 100px;
}
.temperature-container .temperature {
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
  margin-left: 10px;
  color: #33184f;
}
.temperature-container .unit {
  margin-left: 2px;
  position: relative;
  font-size: 28px;
  top: -48px;
  font-weight: 500;
}
.temperature-container .active {
  cursor: default;
  text-decoration: none;
}
.temperature-container .Fahrenheit:hover {
  text-decoration: none;
}

.weather-now {
  border: 1px #272142;
  margin: 70px 20px;
  padding: 40px 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.weather-day {
  border: 1px #272142;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin: 20px 10px;
  padding: 10px 10px;
  text-align: center;
}
.weather-day .temp-day {
  color: #070fb2;
  font-size: 18px;
  font-weight: 600;
}
.weather-day .temp-night {
  color: #33184f;
  font-size: 18px;
  font-weight: 100;
}
.weather-day .day {
  color: #33184f;
  font-size: 22px;
  font-weight: 600;
}
.weather-day img {
  height: 90px;
  width: 90px;
}
